$color-primary: #2e2e2e;

$transition-primary: .3s all ease;

@mixin display-flex($dir, $wrap, $just, $align) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
}

a {
    color: $color-primary;
}

.btn {
    color: #ffffff;
    background-color: $color-primary;
    &:hover {
        color: #ffffff;
    }
}

.page-title {
    font-weight: bold;
}

.projects__item {
    position: relative;
    .projects__item-icon {
        font-size: 5rem;
    }
    .projects__item-link {
        @include display-flex(column, wrap, flex-start, center);
        padding: 15px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: 20px;
    }
    &.projects__item--add {
        .projects__item-link {
            border-color: $color-primary;
        }
    }
    .projects__item-remove {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: $transition-primary;
        &:hover {
            opacity: .7;
        }
    }
}
