a {
  color: #2e2e2e;
}

.btn {
  color: #ffffff;
  background-color: #2e2e2e;
}

.btn:hover {
  color: #ffffff;
}

.page-title {
  font-weight: bold;
}

.projects__item {
  position: relative;
}

.projects__item .projects__item-icon {
  font-size: 5rem;
}

.projects__item .projects__item-link {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
}

.projects__item.projects__item--add .projects__item-link {
  border-color: #2e2e2e;
}

.projects__item .projects__item-remove {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.projects__item .projects__item-remove:hover {
  opacity: 0.7;
}

